In [1]:
import scanpy as sc
import numpy as np 
import pandas as pd
# openpyxl package to read excel# 'pip install openpyxl' if undownload it

In [2]:
adata = sc.datasets.pbmc3k()
adata_processed = sc.datasets.pbmc3k_processed()
df = pd.read_excel("Supplementary table.xlsx", sheet_name="PBMC3K")

In [3]:
adata_filter = adata[np.isin(list(adata.obs_names),list(adata_processed.obs_names)),:]
adata_filter.obs["cell_type"]  = adata_processed.obs["louvain"]
adata_filter.X = adata_filter.X.tocsr()

Trying to set attribute `.obs` of view, copying.

In [4]:
Transferlist = [np.where(df['origin cell type']==CellTypeList)[0][0] for CellTypeList in adata_filter.obs['cell_type'].values.categories]
adata_filter.obs['modelA id'] = df['modelA id'][Transferlist].values[adata_filter.obs['cell_type'].values.codes]
adata_filter.obs['modelC id'] = df['modelC id'][Transferlist].values[adata_filter.obs['cell_type'].values.codes]
adata_filter.obs['transfer cell type'] = df['transfer cell type'][Transferlist].values[adata_filter.obs['cell_type'].values.codes]

In [ ]:
adata_filter.obs['origin cell type'] = adata_filter.obs['cell_type']

In [5]:
adata_filter.obs

                        cell_type  modelA id  modelC id   transfer cell type
index
AAACATACAACCAC-1      CD4 T cells          0          0        T-helper cell
AAACATTGAGCTAC-1          B cells          3          3         naive B cell
AAACATTGATCAGC-1      CD4 T cells          0          0        T-helper cell
AAACCGTGCTTCCG-1  CD14+ Monocytes         10          8             monocyte
AAACCGTGTATGCG-1         NK cells          7          5  natural killer cell
...                           ...        ...        ...                  ...
TTTCGAACTCTCAT-1  CD14+ Monocytes         10          8             monocyte
TTTCTACTGAGGCA-1          B cells          3          3         naive B cell
TTTCTACTTCCTCG-1          B cells          3          3         naive B cell
TTTGCATGAGAGGC-1          B cells          3          3         naive B cell
TTTGCATGCCTCAC-1      CD4 T cells          0          0        T-helper cell

[2638 rows x 4 columns]

In [7]:
adata_filter.write_h5ad('../PBMC3K.h5ad')

/home/shhsu/.local/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'transfer cell type' as categorical

In [11]:
!rm -r data